/*------------------------------------
- COLOR global
------------------------------------*/
a {
	color: #333333;
}

a:hover, a:focus {
	color: #FF9300;
}


/*------------------------------------
- COLOR blue-light
------------------------------------*/
.alert-blue-light {
	background-color: #1AC131FF;
	border-color:     #19712BFF;
	color:            #65D2FF;
}

.alert-blue-light hr {
	border-top-color: #17E123FF;
}

.alert-blue-light .alert-link {
	color: #32C3FF;
}

.badge-blue-light {
	background-color: #E0F6FF;
	color:            #212529;
}

.badge-blue-light[href]:hover, .badge-blue-light[href]:focus {
	background-color: #ADE7FF;
	color:            #212529;
}

.bg-blue-light {
	background-color: #E0F6FF !important;
}

a.bg-blue-light:hover, a.bg-blue-light:focus,
button.bg-blue-light:hover,
button.bg-blue-light:focus {
	background-color: #ADE7FF !important;
}

.border-blue-light {
	border-color: #E0F6FF !important;
}

.btn-blue-light {
	background-color: #E0F6FF;
	border-color:     #E0F6FF;
	color:            #212529;
}

.btn-blue-light:hover {
	background-color: #BCEBFF;
	border-color:     #ADE7FF;
	color:            #212529;
}

.btn-blue-light:focus, .btn-blue-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 246, 255, 0.5);
}

.btn-blue-light.disabled, .btn-blue-light:disabled {
	background-color: #E0F6FF;
	border-color:     #E0F6FF;
	color:            #212529;
}

.btn-blue-light:not(:disabled):not(.disabled):active, .btn-blue-light:not(:disabled):not(.disabled).active, .show > .btn-blue-light.dropdown-toggle {
	background-color: #ADE7FF;
	border-color:     #9DE2FF;
	color:            #212529;
}

.btn-blue-light:not(:disabled):not(.disabled):active:focus, .btn-blue-light:not(:disabled):not(.disabled).active:focus, .show > .btn-blue-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 246, 255, 0.5);
}

.btn-outline-blue-light {
	background-color: transparent;
	border-color:     #E0F6FF;
	color:            #E0F6FF;
}

.btn-outline-blue-light:hover {
	background-color: #E0F6FF;
	border-color:     #E0F6FF;
	color:            #212529;
}

.btn-outline-blue-light:focus, .btn-outline-blue-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 246, 255, 0.5);
}

.btn-outline-blue-light.disabled, .btn-outline-blue-light:disabled {
	background-color: transparent;
	color:            #E0F6FF;
}

.btn-outline-blue-light:not(:disabled):not(.disabled):active, .btn-outline-blue-light:not(:disabled):not(.disabled).active, .show > .btn-outline-blue-light.dropdown-toggle {
	background-color: #E0F6FF;
	border-color:     #E0F6FF;
	color:            #212529;
}

.btn-outline-blue-light:not(:disabled):not(.disabled):active:focus, .btn-outline-blue-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-blue-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(224, 246, 255, 0.5);
}

.list-group-item-blue-light {
	background-color: #19712BFF;
	color:            #65D2FF;
}

.list-group-item-blue-light.list-group-item-action:hover, .list-group-item-blue-light.list-group-item-action:focus {
	background-color: #17E123FF;
	color:            #65D2FF;
}

.list-group-item-blue-light.list-group-item-action.active {
	background-color: #65D2FF;
	border-color:     #65D2FF;
	color:            #212529;
}

.table-blue-light,
.table-blue-light > th,
.table-blue-light > td {
	background-color: #19712BFF;
}

.table-hover .table-blue-light:hover {
	background-color: #17E123FF;
}

.table-hover .table-blue-light:hover > td,
.table-hover .table-blue-light:hover > th {
	background-color: #17E123FF;
}

.text-blue-light {
	color: #E0F6FF !important;
}

a.text-blue-light:hover, a.text-blue-light:focus {
	color: #ADE7FF !important;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
	background-color: #FFE9CC;
	border-color:     #FFE0B7;
	color:            #844C00;
}

.alert-primary hr {
	border-top-color: #FFD59E;
}

.alert-primary .alert-link {
	color: #512F00;
}

.badge-primary {
	background-color: #FF9300;
	color:            #FFFFFF;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
	background-color: #CC7500;
	color:            #FFFFFF;
}

.bg-primary {
	background-color: #FF9300 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
	background-color: #CC7500 !important;
}

.border-primary {
	border-color: #FF9300 !important;
}

.btn-primary {
	background-color: #FF9300;
	border-color:     #FF9300;
	color:            #FFFFFF;
}

.btn-primary:hover {
	background-color: #DB7E00;
	border-color:     #CC7500;
	color:            #212529;
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 147, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	background-color: #FF9300;
	border-color:     #FF9300;
	color:            #FFFFFF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #CC7500;
	border-color:     #BC6C00;
	color:            #FFFFFF;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 147, 0, 0.5);
}

.btn-outline-primary {
	background-color: transparent;
	border-color:     #FF9300;
	color:            #FF9300;
}

.btn-outline-primary:hover {
	background-color: #FF9300;
	border-color:     #FF9300;
	color:            #FFFFFF;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 147, 0, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	background-color: transparent;
	color:            #FF9300;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
	background-color: #FF9300;
	border-color:     #FF9300;
	color:            #FFFFFF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 147, 0, 0.5);
}

.list-group-item-primary {
	background-color: #FFE0B7;
	color:            #844C00;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
	background-color: #FFD59E;
	color:            #844C00;
}

.list-group-item-primary.list-group-item-action.active {
	background-color: #844C00;
	border-color:     #844C00;
	color:            #FFFFFF;
}

.table-primary,
.table-primary > th,
.table-primary > td {
	background-color: #FFE0B7;
}

.table-hover .table-primary:hover {
	background-color: #FFD59E;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
	background-color: #FFD59E;
}

.text-primary {
	color: #FF9300 !important;
}

a.text-primary:hover, a.text-primary:focus {
	color: #CC7500 !important;
}


/*------------------------------------
- COLOR primary-light-light
------------------------------------*/
.alert-primary-light {
	background-color: #FF132185;
	border-color:     #FF12A170;
	color:            #FFB43E;
}

.alert-primary-light hr {
	border-top-color: #FF120157;
}

.alert-primary-light .alert-link {
	color: #FFA10B;
}

.badge-primary-light {
	background-color: #FFE4B9;
	color:            #212529;
}

.badge-primary-light[href]:hover, .badge-primary-light[href]:focus {
	background-color: #FFD086;
	color:            #212529;
}

.bg-primary-light {
	background-color: #FFE4B9 !important;
}

a.bg-primary-light:hover, a.bg-primary-light:focus,
button.bg-primary-light:hover,
button.bg-primary-light:focus {
	background-color: #FFD086 !important;
}

.border-primary-light {
	border-color: #FFE4B9 !important;
}

.btn-primary-light {
	background-color: #FFE4B9;
	border-color:     #FFE4B9;
	color:            #212529;
}

.btn-primary-light:hover {
	background-color: #FFD695;
	border-color:     #FFD086;
	color:            #212529;
}

.btn-primary-light:focus, .btn-primary-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 228, 185, 0.5);
}

.btn-primary-light.disabled, .btn-primary-light:disabled {
	background-color: #FFE4B9;
	border-color:     #FFE4B9;
	color:            #212529;
}

.btn-primary-light:not(:disabled):not(.disabled):active, .btn-primary-light:not(:disabled):not(.disabled).active, .show > .btn-primary-light.dropdown-toggle {
	background-color: #FFD086;
	border-color:     #FFCA76;
	color:            #212529;
}

.btn-primary-light:not(:disabled):not(.disabled):active:focus, .btn-primary-light:not(:disabled):not(.disabled).active:focus, .show > .btn-primary-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 228, 185, 0.5);
}

.btn-outline-primary-light {
	background-color: transparent;
	border-color:     #FFE4B9;
	color:            #FFE4B9;
}

.btn-outline-primary-light:hover {
	background-color: #FFE4B9;
	border-color:     #FFE4B9;
	color:            #212529;
}

.btn-outline-primary-light:focus, .btn-outline-primary-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 228, 185, 0.5);
}

.btn-outline-primary-light.disabled, .btn-outline-primary-light:disabled {
	background-color: transparent;
	color:            #FFE4B9;
}

.btn-outline-primary-light:not(:disabled):not(.disabled):active, .btn-outline-primary-light:not(:disabled):not(.disabled).active, .show > .btn-outline-primary-light.dropdown-toggle {
	background-color: #FFE4B9;
	border-color:     #FFE4B9;
	color:            #212529;
}

.btn-outline-primary-light:not(:disabled):not(.disabled):active:focus, .btn-outline-primary-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 228, 185, 0.5);
}

.list-group-item-primary-light {
	background-color: #FF12A170;
	color:            #FFB43E;
}

.list-group-item-primary-light.list-group-item-action:hover, .list-group-item-primary-light.list-group-item-action:focus {
	background-color: #FF120157;
	color:            #FFB43E;
}

.list-group-item-primary-light.list-group-item-action.active {
	background-color: #FFB43E;
	border-color:     #FFB43E;
	color:            #212529;
}

.table-primary-light,
.table-primary-light > th,
.table-primary-light > td {
	background-color: #FF12A170;
}

.table-hover .table-primary-light:hover {
	background-color: #FF120157;
}

.table-hover .table-primary-light:hover > td,
.table-hover .table-primary-light:hover > th {
	background-color: #FF120157;
}

.text-primary-light {
	color: #FFE4B9 !important;
}

a.text-primary-light:hover, a.text-primary-light:focus {
	color: #FFD086 !important;
}

/*------------------------------------
- COLOR purple
------------------------------------*/
.alert-purple {
	background-color: #12712AFF;
	border-color:     #114115FF;
	color:            #0B00E2;
}

.alert-purple hr {
	border-top-color: #FCFCFF;
}

.alert-purple .alert-link {
	color: #0800AF;
}

.badge-purple {
	background-color: #665EFF;
	color:            #FFFFFF;
}

.badge-purple[href]:hover, .badge-purple[href]:focus {
	background-color: #352BFF;
	color:            #FFFFFF;
}

.bg-purple {
	background-color: #665EFF !important;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
	background-color: #352BFF !important;
}

.border-purple {
	border-color: #665EFF !important;
}

.btn-purple {
	background-color: #665EFF;
	border-color:     #665EFF;
	color:            #FFFFFF;
}

.btn-purple:hover {
	background-color: #443AFF;
	border-color:     #352BFF;
	color:            #FFFFFF;
}

.btn-purple:focus, .btn-purple.focus {
	box-shadow: 0 0 0 0.2rem rgba(102, 94, 255, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
	background-color: #665EFF;
	border-color:     #665EFF;
	color:            #FFFFFF;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
	background-color: #352BFF;
	border-color:     #261BFF;
	color:            #FFFFFF;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus, .show > .btn-purple.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(102, 94, 255, 0.5);
}

.btn-outline-purple {
	background-color: transparent;
	border-color:     #665EFF;
	color:            #665EFF;
}

.btn-outline-purple:hover {
	background-color: #665EFF;
	border-color:     #665EFF;
	color:            #FFFFFF;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
	box-shadow: 0 0 0 0.2rem rgba(102, 94, 255, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
	background-color: transparent;
	color:            #665EFF;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active, .show > .btn-outline-purple.dropdown-toggle {
	background-color: #665EFF;
	border-color:     #665EFF;
	color:            #FFFFFF;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-purple.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(102, 94, 255, 0.5);
}

.list-group-item-purple {
	background-color: #114115FF;
	color:            #0B00E2;
}

.list-group-item-purple.list-group-item-action:hover, .list-group-item-purple.list-group-item-action:focus {
	background-color: #FCFCFF;
	color:            #0B00E2;
}

.list-group-item-purple.list-group-item-action.active {
	background-color: #0B00E2;
	border-color:     #0B00E2;
	color:            #FFFFFF;
}

.table-purple,
.table-purple > th,
.table-purple > td {
	background-color: #114115FF;
}

.table-hover .table-purple:hover {
	background-color: #FCFCFF;
}

.table-hover .table-purple:hover > td,
.table-hover .table-purple:hover > th {
	background-color: #FCFCFF;
}

.text-purple {
	color: #665EFF !important;
}

a.text-purple:hover, a.text-purple:focus {
	color: #352BFF !important;
}


/*------------------------------------
- COLOR purple-light
------------------------------------*/
.alert-purple-light {
	background-color: #17D1A5FF;
	border-color:     #16E190FF;
	color:            #845EFF;
}

.alert-purple-light hr {
	border-top-color: #15A177FF;
}

.alert-purple-light .alert-link {
	color: #5D2BFF;
}

.badge-purple-light {
	background-color: #E2D9FF;
	color:            #212529;
}

.badge-purple-light[href]:hover, .badge-purple-light[href]:focus {
	background-color: #BBA6FF;
	color:            #212529;
}

.bg-purple-light {
	background-color: #E2D9FF !important;
}

a.bg-purple-light:hover, a.bg-purple-light:focus,
button.bg-purple-light:hover,
button.bg-purple-light:focus {
	background-color: #BBA6FF !important;
}

.border-purple-light {
	border-color: #E2D9FF !important;
}

.btn-purple-light {
	background-color: #E2D9FF;
	border-color:     #E2D9FF;
	color:            #212529;
}

.btn-purple-light:hover {
	background-color: #C6B5FF;
	border-color:     #BBA6FF;
	color:            #212529;
}

.btn-purple-light:focus, .btn-purple-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(226, 217, 255, 0.5);
}

.btn-purple-light.disabled, .btn-purple-light:disabled {
	background-color: #E2D9FF;
	border-color:     #E2D9FF;
	color:            #212529;
}

.btn-purple-light:not(:disabled):not(.disabled):active, .btn-purple-light:not(:disabled):not(.disabled).active, .show > .btn-purple-light.dropdown-toggle {
	background-color: #BBA6FF;
	border-color:     #AF96FF;
	color:            #212529;
}

.btn-purple-light:not(:disabled):not(.disabled):active:focus, .btn-purple-light:not(:disabled):not(.disabled).active:focus, .show > .btn-purple-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(226, 217, 255, 0.5);
}

.btn-outline-purple-light {
	background-color: transparent;
	border-color:     #E2D9FF;
	color:            #E2D9FF;
}

.btn-outline-purple-light:hover {
	background-color: #E2D9FF;
	border-color:     #E2D9FF;
	color:            #212529;
}

.btn-outline-purple-light:focus, .btn-outline-purple-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(226, 217, 255, 0.5);
}

.btn-outline-purple-light.disabled, .btn-outline-purple-light:disabled {
	background-color: transparent;
	color:            #E2D9FF;
}

.btn-outline-purple-light:not(:disabled):not(.disabled):active, .btn-outline-purple-light:not(:disabled):not(.disabled).active, .show > .btn-outline-purple-light.dropdown-toggle {
	background-color: #E2D9FF;
	border-color:     #E2D9FF;
	color:            #212529;
}

.btn-outline-purple-light:not(:disabled):not(.disabled):active:focus, .btn-outline-purple-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-purple-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(226, 217, 255, 0.5);
}

.list-group-item-purple-light {
	background-color: #16E190FF;
	color:            #845EFF;
}

.list-group-item-purple-light.list-group-item-action:hover, .list-group-item-purple-light.list-group-item-action:focus {
	background-color: #15A177FF;
	color:            #845EFF;
}

.list-group-item-purple-light.list-group-item-action.active {
	background-color: #845EFF;
	border-color:     #845EFF;
	color:            #212529;
}

.table-purple-light,
.table-purple-light > th,
.table-purple-light > td {
	background-color: #16E190FF;
}

.table-hover .table-purple-light:hover {
	background-color: #15A177FF;
}

.table-hover .table-purple-light:hover > td,
.table-hover .table-purple-light:hover > th {
	background-color: #15A177FF;
}

.text-purple-light {
	color: #E2D9FF !important;
}

a.text-purple-light:hover, a.text-purple-light:focus {
	color: #BBA6FF !important;
}
